<!DOCTYPE html>
<html lang="en-us" ng-app="myApp" ng-cloak>
  <head>
    <title>Learn and Understand AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
    html, body, input, select, textarea
    {
    font-size: 1.05em;
    }
    label, input { display: block; }
    </style>

    <!-- load angular via CDN -->
    <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">MEAN Todo App</a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <div ng-controller="mainController" ng-cloak ng-init="initFirst()">

        <div class="row">
            <div class="col-xs-12 col-sm-4">
              <h3>Add Todo</h3>
              <form ng-submit="addTodo(newTodo)" method="POST">
                <label>Username:</label>
                <input type="text" class="form-control" ng-model="newTodo.username" required="">
                <label>New To Do:</label>
                <input type="text" class="form-control" ng-model="newTodo.todo">
                <label>Complete:</label>
                <select class="form-control" ng-options="option as option.label for option in isDoneOptions" ng-model="newTodo.isDone"></select>
                <label>Attachment:</label>
                <select class="form-control" ng-options="option as option.label for option in hasAttachmentOptions" ng-model="newTodo.hasAttachment"></select><br>
                <input type="submit" value="Submit" class="btn btn-info">
              </form>
              <br><div class="alert alert-success" ng-show="alertText.length > 0">{{ alertText }}</div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <h3>Todos</h3>
            <ul class="list-unstyled">
              <li ng-repeat="todo in todos track by $index">{{ todo.todo }} <br>
              <small>Username: {{ todo.username }}</small>
              | <small>Complete: {{ todo.isDone }}</small>
              | <small>Attachment: {{ todo.hasAttachment }}</small>
              <br><small>ID: {{ todo._id }}</small>
              <!-- Button confirm delete trigger modal -->
              <br><button class="btn btn-danger" ng-click="confirmDeletion()" data-toggle="modal" data-target="#myModal">Remove</button>
              <!-- Button edit trigger modal -->
              <button class="btn btn-primary" ng-click="duplicate()">Duplicate</button>
              <button class="btn btn-info" ng-click="edit()" data-toggle="modal" data-target="#editModal">Edit</button><hr>
              </li>
            </ul>
          </div>
          <!-- Confirm Delete Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="confirm-delete-modal">Confirm Deletion</h4>
                </div>
                <div class="modal-body">
                <p>{{ confirmDeleteMessage }}</p>
                  <div class="alert alert-danger" ng-show="confirmDeleteMessage.length > 0">
                    <div>Todo: <strong>{{ confirmDeleteTask }}</strong></div>
                    <div>ID: <strong>{{ confirmDeleteId }}</strong></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" ng-click="removeTodo(confirmDeleteId)" data-dismiss="modal">Yes</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Edit Modal -->
          <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="confirm-edit-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="confirm-edit-modal">Edit: <strong>{{ editTodo.todo }}</strong></h4>
                </div>
                <div class="modal-body">
                  <form ng-submit="submitEdit()" method="POST">
                    <label>Username:</label>
                    <input type="text" class="form-control" ng-model="editTodo.username" required="">
                    <label>New To Do:</label>
                    <input type="text" class="form-control" ng-model="editTodo.todo">
                    <label>Complete:</label>
                    <select class="form-control" ng-options="option as option.label for option in isDoneOptions" ng-model="editTodo.isDone"></select>
                    <label>Attachment:</label>
                    <select class="form-control" ng-options="option as option.label for option in hasAttachmentOptions" ng-model="editTodo.hasAttachment"></select><br>
                    <input type="submit" value="Submit" class="btn btn-info">
                  </form>
                </div>
                <div class="modal-footer alert alert-success" ng-show="alertText.length > 0">
                  <p class="text-left">{{ alertText }}</p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .row -->

      </div>
    </div> <!-- .container -->
  </body>
</html>